black==24.4.2
flake8==7.0.0
pytest==8.2.2
apache-airflow-client==2.9.0
apache-airflow-providers-apache-spark==4.8.1
jupyter==1.0.0
sqlalchemy==1.4.49
requests==2.31.0
beautifulsoup4==4.12.2
webdriver_manager==3.8.6
selenium==4.10.0
cuallee==0.10.3
polars==0.20.31
urllib3==1.26.16

